#tagline{
    height: 420px;
    background: url('../tagline_bg.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: black;
}

#tagline .content-container{
    max-width: 900px;
    margin: auto;
    display: flex;

}

#tagline .content-container h1{
    padding: 30px;
    font-size: 42px;
    align-self: center;
}

@media (min-width: 900px){
    #tagline{
        height: 600px;
    }

    #tagline .content-container h1{
        font-size: 60px;
    }
}

#tagline h1 span{
    display: block;
}

h2{
    font-size: 39px;
}